{% extends 'base.html' %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="h5 mb-0">Ordens de Serviço</h2>
        <form action="{{ url_for('listar_ordens') }}" method="GET" class="d-flex" style="width: 300px;">
            <input class="form-control me-2" type="search" placeholder="Buscar O.S..." name="q" value="{{ search_term or '' }}">
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </form>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-end">Valor Total</th>
                </tr>
            </thead>
            <tbody>
                {% for ordem in ordens %}
                <tr style="cursor: pointer;" onclick="window.location='{{ url_for('detalhe_os', id=ordem.id) }}';">
                    <th scope="row">{{ ordem.id }}</th>
                    <td>{{ ordem.cliente.nome_exibicao }}</td>
                    <td>{{ ordem.data_criacao.strftime('%d/%m/%Y') }}</td>
                    <td>
                        {% if ordem.status %}
                            <span class="badge bg-{{ ordem.status.cor }}">{{ ordem.status.nome }}</span>
                        {% else %}
                            <span class="badge bg-secondary">SEM STATUS</span>
                        {% endif %}
                    </td>
                    <td class="text-end">R$ {{ "%.2f"|format(ordem.valor_total) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}